body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Filt{
  display: flex;
  justify-content: center;

}